{% extends "base.html" %}

{% block title %}{{ album.name }}{% endblock %}

{% block main %}
  <div class="container">
    <section class="album__info">

      {% include "music/includes/links.html" with var=album %}

      <h1>Название альбома: {{ album.name }}</h1>
      <p>Год выпуска: {{ album.release_year }}</p>
      <p>Описание: {{ album.label }}</p>
  
      <div>
        <h2>Список песен в альбоме</h2>
        {% include "music/includes/tracks.html" %}
      </div>
    </section>
  </div>
{% endblock %}